.banner {
  
    border-radius: 10px;
    height: 111px;
    margin-bottom: 35px;
    position: relative;
    @include bordurePage;
    
    @include respond-to(medium) {
      border-radius:25px;
      height: 223px;
      
    }
  
    &__img {
      border-radius:10px;
      height: 100%;
      object-fit: cover;
      width: 100%;
      @include respond-to(medium)  {
        border-radius:25px;
      }
    }
    &__sombre {
      width: calc(100% - 40px);
      height: 100%;
      border-radius: 10px;
       left: 20px;
       right:0;
      background-color: rgba(0, 0, 0, 0.6); /* Opacité à 60% */
      mix-blend-mode: darken; /* Mode de fusion darken */
      position: absolute;
      top: 0;
      @include respond-to(medium)  {
        width: calc(100% - 200px);
        border-radius: 25px;
        left: 100px; // Padding à gauche de 100px
        right: 100px; // Padding à droite de 100px
      }
    }
    
 
    
    &__txt {
      position: absolute;
      top: calc(100% - 90px);
      left: 5.6%;
      right: 32.53%;
      bottom: 80.05%;
      font-size: 24px;
      font-weight: 700;
      line-height: 100%;
      color: $tertiary-color;

      text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000; /* Quatre ombres pour créer la bordure */
          padding-right: 20px;
          padding-left:20px;
      

       
        @include respond-to(medium)  {
          font-size: 48px;
          width: 217px;
          height: 48px;
          top: 0;
          left: 0;
          right: 0;
          @include flex-center;
          @include WH-full;
          @include font(48px, 500);
          padding-right: 100px;
          padding-left:100px;
        }

        @include respond-to(large)  {
       
          
          padding-right: 20px;
          padding-left: 20px;
      }
    }
  }
  