@import "../utils/_mixins.scss";
.header {
    @include bordurePage;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
      
        img {
          width: 20%;
        }
      
      
    }
  